server:
  port: ${SERVER_PORT:8185}

spring:
  application:
    name: tag-service
  config:
    import: optional:file:../.env[.properties],optional:file:.env[.properties]
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5537/tag_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      password: ${REDIS_PASSWORD:}
      port: ${REDIS_PORT:6479}
      timeout: 2000ms

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8070/eureka}

kafka:
  kafka-host-url: ${KAFKA_HOST_URL:localhost:9192}
  schema-registry-host-url: ${SCHEMA_REGISTRY_HOST_URL:http://localhost:9191}

key:
  public-key-b64: ${PUBLIC_KEY_B64:}
  private-key-b64: ${PRIVATE_KEY_B64:}

jwe:
  issuer: ${JWE_ISSUER:JM_BACKEND}
  temp-token-ttl-seconds: ${JWE_TEMP_TOKEN_TTL:300}
  access-token-ttl-seconds: ${JWE_ACCESS_TOKEN_TTL:900}
  refresh-token-ttl-seconds: ${JWE_REFRESH_TOKEN_TTL:604800}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  show-actuator: false